@model MS.Katusha.Web.Models.MailConfirmModel

@{
    ViewBag.Title = "Mail Confirmation";
}

<h2>Mail Confirmation</h2>

Congratulations! Your email address has been validated for <b>"@Model.UserName"</b><br/>
<br/>
@Html.ActionLink("Create Girl Profile", "Create", "Profiles", new {key = "Girl"}, null);
@Html.ActionLink("Create Boy Profile", "Create", "Profiles", new { key = "Boy" }, null);
