@model GirlModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>GirlModel</legend>

@Html.Partial("Profiles/_Details", Model)
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { guid = Model.Guid}) |
    @Html.ActionLink("Back to List", "Index")
</p>


