@model BoyModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BoyModel</legend>

@Html.Partial("Profiles/_Details", Model)
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { key = Html.KeyFor(Model)}) |
    @Html.ActionLink("Back to List", "Index")
</p>


