@model MS.Katusha.Web.Models.PagedListModel<ProfileModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("Profiles/_Index", Model)

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
