@using MS.Katusha.Configuration
@using Conversation = MS.Katusha.Domain.Raven.Entities.Conversation;
@model Conversation
<h2>You have new message from @Model.FromName</h2><br/>
<hr/>
<a href="@(KatushaConfigurationManager.Instance.VirtualPath)">Go to Katusha</a><br/>
@(KatushaConfigurationManager.Instance.VirtualPath)
