@using System.Configuration
@model MS.Katusha.Domain.Entities.User
Dear @Model.UserName,<br />
<br />
Welcome to our site,<br />
Please confirm your mail by clicking <a href="@(ConfigurationManager.AppSettings["VirtualPath"])Mail/Confirm/@Model.Guid">here</a> or navigating to this address, @(ConfigurationManager.AppSettings["VirtualPath"])Mail/Confirm/@Model.Guid
