@using MS.Katusha.Enumerations
@using MS.Katusha.Services.Configuration
@model MS.Katusha.Domain.Entities.Photo
@{var link = String.Format("{0}/Photos/{1}-{2}.jpg", KatushaConfigurationManager.Instance.VirtualPath, (byte)PhotoType.Thumbnail, Model.Guid); }

<h2>A photo added.</h2><br/>
<hr/>
<a href="@(link)">Go to Photo</a><br/>
@link

