@using System.Configuration
@using MS.Katusha.Enumerations
@model MS.Katusha.Domain.Entities.Photo
@{var link = String.Format("{0}/Photos/{1}-{2}.jpg", ConfigurationManager.AppSettings["VirtualPath"], (byte)PhotoType.Thumbnail, Model.Guid); }

<h2>A photo added.</h2><br/>
<hr/>
<a href="@(link)">Go to Photo</a><br/>
@link

