@using System.Configuration
@model MS.Katusha.Domain.Entities.Profile
@{ 
    var link = String.Format("{0}Profiles/Show/{1}", ConfigurationManager.AppSettings["VirtualPath"], Model.Guid);
}
<h2>A profile created @Model.Name</h2><br/>
For user: 
@if(Model.User != null) {
    @(Model.User.UserName + " / " + @Model.User.Email)
}
<hr/>
<a href="@(link)">Go to Photo</a><br/>
@link
