<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Root_Folder" value="P:\GIT\MS.Katusha\" />    
    <add key="VirtualPath" value="http://localhost:10595/"/>
  </appSettings>
  <connectionStrings>
    <add name="MS.Katusha.Domain.KatushaDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MS.Katusha.Domain.KatushaDbContext;Integrated Security=True;MultipleActiveResultSets=True;Application Name=Katusha"/>
    <add name="KatushaRavenDB" connectionString="Url=http://localhost:8080/"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
			<smtp from="mertsakarya@gmail.com" deliveryMethod="SpecifiedPickupDirectory">
				<network host="localhost" />
				<specifiedPickupDirectory pickupDirectoryLocation="P:\Mail\"/>
			</smtp>
    </mailSettings>
  </system.net>
</configuration>