<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Template_Folder1" value="P:\GIT\MS.Katusha\MS.Katusha.Web\Views\___MailTemplates\"/>
    <add key="Template_Folder" value="C:\Users\msakarya\Documents\Visual Studio 2010\Projects\MS.Katusha\MS.Katusha.Web\Views\___MailTemplates\"/>
    
    <add key="VirtualPath" value="http://localhost:10595/"/>
  </appSettings>
  <connectionStrings>
    <add name="Katusha" connectionString="Data Source=localhost;Initial Catalog=Test;Integrated Security=True;Pooling=False"/>
    <add name="KatushaRavenDB" connectionString="Url=http://localhost:8080/"/>
  </connectionStrings>
</configuration>