@model MS.Katusha.Web.Models.MailConfirmModel
@{ ViewBag.Title = "Mail Confirmation"; }

@if (String.IsNullOrWhiteSpace(Model.UserName)) {
    <h1>User not found!</h1>
} else {
    <span>
        <h2>Mail Confirmation</h2>
        Congratulations! Your email address has been validated for <b>"@Model.UserName"</b><br/>
        <br/>
        You can login from home page and view your information maybe add more photos. Go @Html.ActionLink("home", "Index", "Home") .
    </span>
}