@model MS.Katusha.Web.Models.Entities.BoyModel


<div class="display-label">@Html.DisplayNameFor(_ => Model.DickSize)</div>
<div class="display-field">@Html.DisplayTextFor(_ => Model.DickSize).ToString()</div>

<div class="display-label">@Html.DisplayNameFor(_ => Model.DickThickness)</div>
<div class="display-field">@Html.DisplayTextFor(_ => Model.DickThickness).ToString()</div>

