@model MS.Katusha.Web.Models.Entities.GirlModel

<div class="editor-label">
    @Html.LabelFor(model => model.BreastSize)
</div>
<div class="editor-field">
    @Html.EnumDropDownListFor(model => model.BreastSize)
    @Html.ValidationMessageFor(model => model.BreastSize)
</div>
