@model MS.Katusha.Web.Models.Entities.GirlModel

<div class="display-label">@Html.DisplayNameFor(_ => Model.BreastSize)</div>
<div class="display-field">@Html.DisplayTextFor(_ => Model.BreastSize).ToString()</div>
