@using MS.Katusha.Enumerations
@{ var profiles = ViewBag.KatushaNewProfiles as IEnumerable<ProfileModel>; }
@if (profiles != null) {
    <span>New Users</span>
    <div id="newgallery" data-toggle="modal-gallery" data-target="#modal-gallery">
        @foreach (var profile in profiles) {
            @Html.DisplayProfilePhoto(profile, PhotoType.Icon, "newgallery", true)
        }
    </div>
    @Html.ActionLink("More...", "New", "Profiles");
}
