@model MS.Katusha.Exceptions.KatushaException

@{
    ViewBag.Title = "Web site error";
}

<hgroup class="title">
    <h1 class="error">An error occurred while processing your request.</h1><br/>
    <h3 class="error">@Model.Id</h3><br/>
    <pre>@Model.Message</pre>

</hgroup>