@using MS.Katusha.Exceptions.Web
@model HandleErrorInfo
@{
    ViewBag.Title = "Web site error";
}

<hgroup class="title">
    <h1 class="error">An error occurred while processing your request.</h1><br/>
    <pre>@Model.Exception.Message
    @if(Model.Exception is KatushaNotAllowedException) {
        var ex = Model.Exception as KatushaNotAllowedException;
<text>
User: @ex.User     
Profile: @ex.Profile
Key: @ex.Key     
</text>
    }
    </pre>

</hgroup>