@model MS.Katusha.Web.Models.Entities.ProfileModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Profile</legend>

		@Html.Partial("_ProfileCreateOrEdit", Model)

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Profile page", "Show", "Profiles", new {key = Model.Guid}, null)
</div>


