@using MS.Katusha.Enumerations
@model MS.Katusha.Web.Models.PagedListModel<ProfileModel>
@{
    ViewBag.Title = "New Profiles";
    var action = ViewContext.RouteData.Values["Action"].ToString();
}

<h2>New Profiles ( @Model.Total )</h2>
       
<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
@foreach (var profile in Model.List) {
    @Html.DisplayProfilePhoto(profile, PhotoType.Thumbnail, "gallery")
}
</div>

@Html.PagedListPager(Model.List, page => Url.Action(action, "Profiles", new { key = page }, null), PagedListRenderOptions.OnlyShowFivePagesAtATime)

<div>
    @Html.ActionLink("Back to List", action, "Profiles", null, null)
</div>
