@model ProfileModel

@{
    ViewBag.Title = "Photos Edit";
}
<div class="editor-label">
    @Html.LabelFor(model => model.Photos)
</div>
@Html.Partial("_Photo", Model)
<div>
    @Html.ActionLink("Back to List", "Show", new { key = Model.Guid });
</div>
