@using MS.Katusha.Enumerations
@model MS.Katusha.Web.Models.PagedListModel<VisitModel>
@{
    ViewBag.Title = "Visitors";
}

<h2>Visitors</h2>

<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
@foreach (var visit in Model.List) {
    var profile = visit.VisitorProfile;
    var val = ((String.IsNullOrWhiteSpace(profile.FriendlyName)) ? profile.Guid.ToString() : profile.FriendlyName);
    <a title="@(profile.Name + " - " + (DateTime.Now.Year - profile.BirthYear).ToString() + " - " + Html._LText("Country", profile.From.ToString()))" href="/Profiles/Show/@(val)" rel="gallery">
        @Html.Photo(profile.ProfilePhotoGuid, (Sex)profile.Gender, PhotoType.Thumbnail)
    </a>    
}
</div>

@Html.PagedListPager(Model.List, page => Url.Action(ViewContext.RouteData.Values["Action"].ToString(), new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

<div>
    @Html.ActionLink("Back to List", ViewContext.RouteData.Values["Action"].ToString())
</div>
