USE [master]
GO
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'MS.Katusha.Domain.DbContext')
BEGIN
CREATE DATABASE [MS.Katusha.Domain.DbContext] ON  PRIMARY 
( NAME = N'MS.Katusha.Domain.DbContext', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\MS.Katusha.Domain.DbContext.mdf' , SIZE = 18688KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MS.Katusha.Domain.DbContext_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\MS.Katusha.Domain.DbContext_log.LDF' , SIZE = 2112KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MS.Katusha.Domain.DbContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MS.Katusha.Domain.DbContext]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Profiles_Users_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Profiles]'))
ALTER TABLE [dbo].[Profiles] DROP CONSTRAINT [FK_Profiles_Users_UserId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Visits_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Visits]'))
ALTER TABLE [dbo].[Visits] DROP CONSTRAINT [FK_Visits_Profiles_ProfileId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Visits_Profiles_VisitorProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Visits]'))
ALTER TABLE [dbo].[Visits] DROP CONSTRAINT [FK_Visits_Profiles_VisitorProfileId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SearchingFors_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SearchingFors]'))
ALTER TABLE [dbo].[SearchingFors] DROP CONSTRAINT [FK_SearchingFors_Profiles_ProfileId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LanguagesSpokens_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[LanguagesSpokens]'))
ALTER TABLE [dbo].[LanguagesSpokens] DROP CONSTRAINT [FK_LanguagesSpokens_Profiles_ProfileId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CountriesToVisits_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CountriesToVisits]'))
ALTER TABLE [dbo].[CountriesToVisits] DROP CONSTRAINT [FK_CountriesToVisits_Profiles_ProfileId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Conversations_Profiles_FromId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Conversations]'))
ALTER TABLE [dbo].[Conversations] DROP CONSTRAINT [FK_Conversations_Profiles_FromId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Conversations_Profiles_ToId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Conversations]'))
ALTER TABLE [dbo].[Conversations] DROP CONSTRAINT [FK_Conversations_Profiles_ToId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Photos_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Photos]'))
ALTER TABLE [dbo].[Photos] DROP CONSTRAINT [FK_Photos_Profiles_ProfileId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Photos_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Photos]'))
ALTER TABLE [dbo].[Photos] DROP CONSTRAINT [FK_Photos_Profiles_ProfileId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Photos]') AND type in (N'U'))
DROP TABLE [dbo].[Photos]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Conversations_Profiles_FromId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Conversations]'))
ALTER TABLE [dbo].[Conversations] DROP CONSTRAINT [FK_Conversations_Profiles_FromId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Conversations_Profiles_ToId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Conversations]'))
ALTER TABLE [dbo].[Conversations] DROP CONSTRAINT [FK_Conversations_Profiles_ToId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Conversations]') AND type in (N'U'))
DROP TABLE [dbo].[Conversations]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CountriesToVisits_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CountriesToVisits]'))
ALTER TABLE [dbo].[CountriesToVisits] DROP CONSTRAINT [FK_CountriesToVisits_Profiles_ProfileId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CountriesToVisits]') AND type in (N'U'))
DROP TABLE [dbo].[CountriesToVisits]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LanguagesSpokens_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[LanguagesSpokens]'))
ALTER TABLE [dbo].[LanguagesSpokens] DROP CONSTRAINT [FK_LanguagesSpokens_Profiles_ProfileId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LanguagesSpokens]') AND type in (N'U'))
DROP TABLE [dbo].[LanguagesSpokens]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SearchingFors_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SearchingFors]'))
ALTER TABLE [dbo].[SearchingFors] DROP CONSTRAINT [FK_SearchingFors_Profiles_ProfileId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchingFors]') AND type in (N'U'))
DROP TABLE [dbo].[SearchingFors]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Visits_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Visits]'))
ALTER TABLE [dbo].[Visits] DROP CONSTRAINT [FK_Visits_Profiles_ProfileId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Visits_Profiles_VisitorProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Visits]'))
ALTER TABLE [dbo].[Visits] DROP CONSTRAINT [FK_Visits_Profiles_VisitorProfileId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Visits]') AND type in (N'U'))
DROP TABLE [dbo].[Visits]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Profiles_Users_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Profiles]'))
ALTER TABLE [dbo].[Profiles] DROP CONSTRAINT [FK_Profiles_Users_UserId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Profiles]') AND type in (N'U'))
DROP TABLE [dbo].[Profiles]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ResourceLookups]') AND type in (N'U'))
DROP TABLE [dbo].[ResourceLookups]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Resources]') AND type in (N'U'))
DROP TABLE [dbo].[Resources]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[States]') AND type in (N'U'))
DROP TABLE [dbo].[States]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PhotoBackups]') AND type in (N'U'))
DROP TABLE [dbo].[PhotoBackups]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ConfigurationDatas]') AND type in (N'U'))
DROP TABLE [dbo].[ConfigurationDatas]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ConfigurationDatas]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ConfigurationDatas](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_ConfigurationDatas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PhotoBackups]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PhotoBackups](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Data] [varbinary](max) NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_PhotoBackups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[UserName] [nvarchar](64) NOT NULL,
	[FacebookUid] [nvarchar](max) NULL,
	[Email] [nvarchar](64) NOT NULL,
	[EmailValidated] [bit] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Password] [nvarchar](14) NOT NULL,
	[Expires] [datetime] NOT NULL,
	[MembershipType] [tinyint] NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[States]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[States](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[LastOnline] [datetime] NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Resources]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Resources](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ResourceKey] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[Language] [tinyint] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Resources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ResourceLookups]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ResourceLookups](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ResourceKey] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[Language] [tinyint] NOT NULL,
	[LookupName] [nvarchar](max) NULL,
	[Order] [tinyint] NOT NULL,
	[LookupValue] [tinyint] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_ResourceLookups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Profiles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Profiles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Name] [nvarchar](64) NULL,
	[From] [tinyint] NOT NULL,
	[City] [nvarchar](64) NULL,
	[BodyBuild] [tinyint] NOT NULL,
	[EyeColor] [tinyint] NOT NULL,
	[HairColor] [tinyint] NOT NULL,
	[Smokes] [tinyint] NOT NULL,
	[Alcohol] [tinyint] NOT NULL,
	[Religion] [tinyint] NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[DickSize] [tinyint] NOT NULL,
	[DickThickness] [tinyint] NOT NULL,
	[BreastSize] [tinyint] NOT NULL,
	[Height] [int] NOT NULL,
	[BirthYear] [int] NOT NULL,
	[Description] [nvarchar](4000) NULL,
	[ProfilePhotoGuid] [uniqueidentifier] NOT NULL,
	[FriendlyName] [nvarchar](64) NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Profiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Profiles]') AND name = N'IX_UserId')
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Profiles] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Visits]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Visits](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL,
	[VisitorProfileId] [bigint] NOT NULL,
	[VisitCount] [int] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Visits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Visits]') AND name = N'IX_ProfileId')
CREATE NONCLUSTERED INDEX [IX_ProfileId] ON [dbo].[Visits] 
(
	[ProfileId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Visits]') AND name = N'IX_VisitorProfileId')
CREATE NONCLUSTERED INDEX [IX_VisitorProfileId] ON [dbo].[Visits] 
(
	[VisitorProfileId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SearchingFors]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SearchingFors](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL,
	[Search] [tinyint] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_SearchingFors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[SearchingFors]') AND name = N'IX_ProfileId')
CREATE NONCLUSTERED INDEX [IX_ProfileId] ON [dbo].[SearchingFors] 
(
	[ProfileId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LanguagesSpokens]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LanguagesSpokens](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL,
	[Language] [tinyint] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_LanguagesSpokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[LanguagesSpokens]') AND name = N'IX_ProfileId')
CREATE NONCLUSTERED INDEX [IX_ProfileId] ON [dbo].[LanguagesSpokens] 
(
	[ProfileId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CountriesToVisits]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CountriesToVisits](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL,
	[Country] [tinyint] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_CountriesToVisits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[CountriesToVisits]') AND name = N'IX_ProfileId')
CREATE NONCLUSTERED INDEX [IX_ProfileId] ON [dbo].[CountriesToVisits] 
(
	[ProfileId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Conversations]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Conversations](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FromId] [bigint] NOT NULL,
	[ToId] [bigint] NOT NULL,
	[Message] [nvarchar](4000) NOT NULL,
	[Subject] [nvarchar](255) NULL,
	[ReadDate] [datetime] NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Conversations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Conversations]') AND name = N'IX_FromId')
CREATE NONCLUSTERED INDEX [IX_FromId] ON [dbo].[Conversations] 
(
	[FromId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Conversations]') AND name = N'IX_ToId')
CREATE NONCLUSTERED INDEX [IX_ToId] ON [dbo].[Conversations] 
(
	[ToId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Photos]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Photos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ContentType] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[DeletionDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Photos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Photos]') AND name = N'IX_ProfileId')
CREATE NONCLUSTERED INDEX [IX_ProfileId] ON [dbo].[Photos] 
(
	[ProfileId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Profiles_Users_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Profiles]'))
ALTER TABLE [dbo].[Profiles]  WITH CHECK ADD  CONSTRAINT [FK_Profiles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Profiles_Users_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Profiles]'))
ALTER TABLE [dbo].[Profiles] CHECK CONSTRAINT [FK_Profiles_Users_UserId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Visits_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Visits]'))
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Profiles_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profiles] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Visits_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Visits]'))
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Profiles_ProfileId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Visits_Profiles_VisitorProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Visits]'))
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Profiles_VisitorProfileId] FOREIGN KEY([VisitorProfileId])
REFERENCES [dbo].[Profiles] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Visits_Profiles_VisitorProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Visits]'))
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Profiles_VisitorProfileId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SearchingFors_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SearchingFors]'))
ALTER TABLE [dbo].[SearchingFors]  WITH CHECK ADD  CONSTRAINT [FK_SearchingFors_Profiles_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profiles] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SearchingFors_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SearchingFors]'))
ALTER TABLE [dbo].[SearchingFors] CHECK CONSTRAINT [FK_SearchingFors_Profiles_ProfileId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LanguagesSpokens_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[LanguagesSpokens]'))
ALTER TABLE [dbo].[LanguagesSpokens]  WITH CHECK ADD  CONSTRAINT [FK_LanguagesSpokens_Profiles_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profiles] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LanguagesSpokens_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[LanguagesSpokens]'))
ALTER TABLE [dbo].[LanguagesSpokens] CHECK CONSTRAINT [FK_LanguagesSpokens_Profiles_ProfileId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CountriesToVisits_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CountriesToVisits]'))
ALTER TABLE [dbo].[CountriesToVisits]  WITH CHECK ADD  CONSTRAINT [FK_CountriesToVisits_Profiles_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profiles] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CountriesToVisits_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CountriesToVisits]'))
ALTER TABLE [dbo].[CountriesToVisits] CHECK CONSTRAINT [FK_CountriesToVisits_Profiles_ProfileId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Conversations_Profiles_FromId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Conversations]'))
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_Profiles_FromId] FOREIGN KEY([FromId])
REFERENCES [dbo].[Profiles] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Conversations_Profiles_FromId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Conversations]'))
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_Profiles_FromId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Conversations_Profiles_ToId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Conversations]'))
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_Profiles_ToId] FOREIGN KEY([ToId])
REFERENCES [dbo].[Profiles] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Conversations_Profiles_ToId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Conversations]'))
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_Profiles_ToId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Photos_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Photos]'))
ALTER TABLE [dbo].[Photos]  WITH CHECK ADD  CONSTRAINT [FK_Photos_Profiles_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profiles] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Photos_Profiles_ProfileId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Photos]'))
ALTER TABLE [dbo].[Photos] CHECK CONSTRAINT [FK_Photos_Profiles_ProfileId]
GO
