<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <!-- This is edited from Cloud9 -->
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="glimpse" type="Glimpse.Core.Configuration.GlimpseConfiguration" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPal_Merchant_SDK" />
    <sectionGroup name="telerik">
      <section name="webAssets" type="Telerik.Web.Mvc.Configuration.WebAssetConfigurationSection, Telerik.Web.Mvc" requirePermission="false" />
    </sectionGroup>
    <section name="appfail" type="AppfailReporting.AppfailConfiguration, AppfailReporting" />
    <section name="katusha" type="MS.Katusha.Services.Configuration.KatushaConfigurationHandler, MS.Katusha.Services.Configuration" />
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
    <section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false" />
  </configSections>
  <katusha>
    <encryption passPhrase="K@teryna" saltValue="Bor02na" hashAlgorithm="SHA1" passwordIterations="3" initVector="M3rtS@kAry@Miray" keySize="128" />
    <s3Buckets>
      <bucket bucketName="MS.Katusha" accessKey="0QEGQJ1M8RF3X413SY02" secretKey="rh/NhdUpGlobZH+NgfuBzMLbOSf57+tHUwVKieT+" rootUrl="://s3.amazonaws.com/MS.Katusha" />
      <bucket bucketName="MS.Katusha.EU" accessKey="0QEGQJ1M8RF3X413SY02" secretKey="rh/NhdUpGlobZH+NgfuBzMLbOSf57+tHUwVKieT+" rootUrl="://s3.amazonaws.com/MS.Katusha.EU" />
      <bucket bucketName="MS.Katusha.Test" accessKey="0QEGQJ1M8RF3X413SY02" secretKey="rh/NhdUpGlobZH+NgfuBzMLbOSf57+tHUwVKieT+" rootUrl="://s3.amazonaws.com/MS.Katusha.Test" />
    </s3Buckets>
    <!--
    <paypal>
      <extension ref="mertsakarya_api1.hotmail.com" email="mertsakarya@hotmal.com" NotificationUrl="Payments/PaypalNotification" CancelUrl="Payments/PaypalCancel" ReturnUrl="Payments/PaypalGetCheckout" />
      <extension ref="mertm_1344098150_biz_api1.hotmail.com" email="merts_1344005613_biz@hotmail.com="  NotificationUrl="Payments/PaypalNotification" CancelUrl="Payments/PaypalCancel" ReturnUrl="Payments/PaypalGetCheckout" />
    </paypal>
    <applications>
      <application applicationName="CommandLine" accessKey="ekl1heT" secretKey="1p2o3i4u5y6t7r8e9w0q" roles="HidePasswords, SingleUser" />
      <application applicationName="Any" accessKey="eklih3T" secretKey="1p2o3i4u5y6t7r8e9w0q" roles="" />
    </applications>
    -->
  </katusha>
  <paypal>
    <settings>
      <!-- The URL that the user must be redirected to in order to login and approve some payment actions-->
      <add name="paypalUrl" value="https://www.paypal.com/webscr?cmd=" />
      <!--add name="paypalUrl" value="https://www.sandbox.paypal.com/webscr?cmd=" /-->
      <!-- The API endpoint -->
      <add name="endpoint" value="https://api-3t.paypal.com/2.0" />
      <!--add name="endpoint" value="https://api-3t.sandbox.paypal.com/2.0" /-->
      <add name="connectionTimeout" value="360000" />
      <!-- The number of times a request must be retried if the API endpoint is unresponsive -->
      <add name="requestRetries" value="3" />
      <add name="binding" value="SOAP" />
      <add name="IPAddress" value="127.0.0.1" />
      <!-- 
        API version number. You will not normally have to change this unless you
        have a specific need to work with an older version of the API
       -->
      <add name="APIVersion" value="84.0" />
    </settings>
    <accounts>
      <!--
        Add API credentials - 3 token or client certificate.
        You can add multiple account credentials here. The SDK will pick the first account
        unless you specifically request an account in the service wrapper mehod.
      -->
      <!--
      <account apiUsername="sdk-three_api1.sdk.com" apiPassword="QFZCWN5HZM8VBG7Q" apiSignature="A-IzJhZZjhg29XQ2qnhapuwxIDzyAZQ92FRP5dqBzVesOkzbdUONzmOU" applicationId="APP-80W284485P519543T"/>
      <account apiUsername="merts_1344005613_biz_api1.hotmail.com" apiPassword="1344005650" apiSignature="AZrqeOc2t4zr8s1lOprs6S3uEfafAXb4ORCF4aNZxz.pzwIWPoOQMTBv" applicationId="APP-80W284485P519543T" />
      -->
      <!-- applicationId="APP-80W284485P519543T" -->
      <account apiUsername="mertsakarya_api1.hotmail.com" apiPassword="G7CY554VR4NZC52P" apiSignature="AFcWxV21C7fd0v3bYYYRCpSSRl31Aje.McNqe5-Um3Zu0Pn4AG2wuHL4" applicationId="APP-85A102468F927603H" />
      <account apiUsername="mertm_1344098150_biz_api1.hotmail.com" apiPassword="1344098174" apiSignature="ApBI59VMkSPXhBFgNqdn2.qigZWRAA7vtTM5rCq3cAHsE88AxkCLVhdg" applicationId="APP-80W284485P519543T" />
      <!--
      <account apiUsername="enduser_biz_api1.gmail.com" apiPassword="SACH3VA3C29DXGUG"
      apiCertificate="<Absolute path to paypal_cert.p12>" 
               privateKeyPassword="password" applicationId="APP-80W284485P519543T"/>
       -->
    </accounts>
  </paypal>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/NLog.config" />
      </factoryAdapter>
    </logging>
  </common>
  <connectionStrings>
    <add name="MS.Katusha.Domain.KatushaDbContext" connectionString="Data Source=localhost;Initial Catalog=MS.Katusha.Domain.DbContext;Integrated Security=True;Application Name=MS.Katusha" providerName="System.Data.SqlClient" />
    <add name="RavenDB" connectionString="Url=http://localhost:8080/" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-MS.Katusha.Web-20120819175635;Integrated Security=SSPI" />
  </connectionStrings>
  <appSettings>
    <!-- overridden by AppHarbor -->
    <add key="VirtualPath" value="://localhost:10595/" />
    <add key="PaypalSandbox" value="false" />
    <add key="S3.Default.Bucket" value="MS.Katusha.Test" />
    <add key="Protocol" value="http" />
    <!-- /overridden by AppHarbor -->
    <add key="AdministratorMailAddress" value="mskatusha.info@gmail.com" />
    <!--add key="NotTrackedIpsByGoogleAnalytics" value="::1, 127.0.0.1 (localhost), 176.33.14.254 (ev), 213.74.26.198, 195.33.232.233" /-->
    <add key="NotTrackedIpsByGoogleAnalytics" value=": :1, 1 27.0.0.1" />
    <add key="PaypalAPIUsername" value="mertsakarya_api1.hotmail.com" />
    <add key="PaypalAPIPassword" value="G7CY554VR4NZC52P" />
    <add key="PaypalSignature" value="AFcWxV21C7fd0v3bYYYRCpSSRl31Aje.McNqe5-Um3Zu0Pn4AG2wuHL4" />
    <add key="PaypalEmail" value="mertsakarya@hotmail.com" />
    <add key="PaypalSandboxAPIUsername" value="merts_1344005613_biz_api1.hotmail.com" />
    <add key="PaypalSandboxAPIPassword" value="1344005650" />
    <add key="PaypalSandboxSignature" value="AZrqeOc2t4zr8s1lOprs6S3uEfafAXb4ORCF4aNZxz.pzwIWPoOQMTBv" />
    <add key="PaypalSandboxEmail" value="merts_1344005613_biz@hotmail.com" />
    <add key="PaypalNotificationUrl" value="Payments/PaypalNotification" />
    <add key="PaypalCancelUrl" value="Payments/PaypalCancel" />
    <add key="PaypalReturnUrl" value="Payments/PaypalGetCheckout" />
    <!-- CacheProvider can be [Empty/Null/None] = No Cache, [Redis] (For Redis Caching mode REDISTOGO_URL must be set), [RavenDB] or [Memory] -->
    <add key="CacheProvider" value="Memory" />
    <add key="REDISTOGO_URL" value="ubuntu.katusha.com:6379" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Glimpse.RavenDb.DocumentStoreApplicationKey" value="MyDocStore" />
    <add key="Glimpse.RavenDb.HiddenFields" value="PasswordHash,PasswordSalt" />
    <add key="LOGENTRIES_ACCOUNT_KEY" value="" />
    <add key="LOGENTRIES_LOCATION" value="" />
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="12288" />
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="MS.Katusha.Domain.Entities" />
        <add namespace="MS.Katusha.Domain.Raven.Entities" />
        <add namespace="MS.Katusha.Web" />
        <add namespace="Telerik.Web.Mvc.UI" />
        <add namespace="AppfailReporting" />
        <add namespace="AppfailReporting.Mvc" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="MS.Katusha.Domain.KatushaDbContext" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="MS.Katusha.Domain.KatushaDbContext" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="MS.Katusha.Domain.KatushaDbContext" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="MS.Katusha.Domain.KatushaDbContext" applicationName="/" />
      </providers>
    </sessionState>
    <httpModules>
      <!-- ** Need to add the dependency module -->
      <add name="Glimpse" type="Glimpse.Core.Module" />
      <add name="appfail" type="AppfailReporting.AppfailModule, AppfailReporting" />
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules>
    <httpHandlers>
      <!-- ** Need to add the dependency handler -->
      <add path="glimpse.axd" verb="GET,POST" type="Glimpse.Core.Handler" />
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </httpHandlers>
    <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Glimpse" type="Glimpse.Core.Module,Glimpse.Core" preCondition="integratedMode" />
      <add name="appfail" type="AppfailReporting.AppfailModule, AppfailReporting" />
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
    <handlers>
      <!-- ** Need to add the dependency handler -->
      <add name="Glimpse" path="glimpse.axd" verb="GET,POST" type="Glimpse.Core.Handler,Glimpse.Core" preCondition="integratedMode" />
      <remove name="asset" />
      <add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp from="mskatusha.info@gmail.com" deliveryMethod="SpecifiedPickupDirectory">
        <network host="localhost" />
        <specifiedPickupDirectory pickupDirectoryLocation="P:\Mail\" />
      </smtp>
  </mailSettings>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <glimpse enabled="true" ipForwardingEnabled="true">
    <ipAddresses>
      <add address="127.0.0.1" />
      <add address="213.74.26.198" />
      <add address="176.33.14.254" />
      <add address="195.33.232.233" />
      <!--Eski ev * fiber add address="217.131.25.222" /-->
      <add address="::1" />
    </ipAddresses>
  </glimpse>
  <nlog>
    <extensions>
      <add assembly="le_nlog" />
    </extensions>
    <targets>
      <target name="logentries" type="Logentries" debug="true" ssl="false" layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" appendTo="logentries" />
    </rules>
  </nlog>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="Logs\paypal.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %message%newline" />
      </layout>
    </appender>
    <appender name="LeAppender" type="log4net.Appender.LeAppender, LeLog4net">
      <Debug value="true" />
      <Ssl value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{ddd MMM dd HH:mm:ss zzz yyyy} %logger %: %level%, %m" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LeAppender" />
    </root>
  </log4net>
  <telerik>
    <webAssets useTelerikContentDeliveryNetwork="false" />
  </telerik>
  <appfail apiToken="R3wpHZIegpz8iigDYqDu3g" />
  <resizer>
    <plugins>
      <add name="MvcRoutingShim" />
    </plugins>
  </resizer>
</configuration>