@using MS.Katusha.Enumerations
@model MS.Katusha.Web.Models.PagedListModel<ConversationResultModel>
@{
    ViewBag.Title = "My Messages";
    var controller = ViewContext.RouteData.Values["Controller"];
}

<h2>My messages</h2>
       
<ul>
@foreach (var item in Model.List) {
    if (item == null) { continue; }
    var from = item.From.Name;
    var to = item.To.Name;
    <li>@Html.ActionLink(String.Format("{0} ({1} - {2})",from, item.Count, item.UnreadCount), "List", "Messages", new {key = Html.KeyFor(item.From)}, null) 
    </li>
}

</ul>

@Html.PagedListPager(Model.List, key => Url.Action("Conversations", new { key=key }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

<div>
    @Html.ActionLink("Back to List", (ViewBag.KatushaProfile.Gender == (byte)Sex.Male ? "Girls" : "Men"), "Profiles")
</div>
