@using MS.Katusha.Enumerations
@model MS.Katusha.Web.Models.PagedListModel<ConversationResultModel>
@{
    ViewBag.Title = "My Conversations";
    var controller = ViewContext.RouteData.Values["Controller"];
}

<h2>My conversations ( @Model.Total )</h2>
       
<ul>
@foreach (var item in Model.List) {
    if (item == null) { continue; }
    var from = item.From.Name;
    var to = item.To.Name;
    <li>@Html.ActionLink(String.Format("{0} ({1} - {2})", from, item.UnreadCount, item.Count), "List", "Messages", new { key = Html.KeyFor(item.From) }, null) 
    </li>
}

</ul>

@if (Model.Total > Model.List.PageSize) {
    <hr style="clear: both"/>
    @Html.PagedListPager(Model.List, key => Url.Action("Conversations", new { key = key }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
}
