@{
    ViewBag.Title = "Messages";
}
<script>
    $(function () {
        var tabselected = (window.location.href.indexOf("Sent") >= 0) ? 1 : 0;
        $("#tabs")
            .tabs({
                selected: tabselected,
                ajaxOptions: {
                    async: true, 
                    error: function (xhr, status, index, anchor) {
                        $(anchor.hash).html("Couldn't load this tab. We'll try to fix this as soon as possible. " + "If this wouldn't be a demo.");
                    }
                }
            })
            .bind('tabsselect', function (event, ui) {
                //tabload(ui.index);
            });
    });

    function readM(guid, e) {
        $.post('/Messages/Read', { key: guid }).done(function (json) {
            json = json || {};
            $('#M' + guid).text(json.message).slideDown('slow');
            $('#showReply'+guid).slideDown('fast');
            if (ping) ping();
        });
        // Prevent the normal behavior since we use a dialog
        if (e) e.preventDefault();
        return false;
    }

    function sendMessage(obj, e) {
        var link = $(obj),
            url = link.attr('href'),
            id = url;
        $("#dialog_content").show();
        $("#dialog_message").hide();

        if (!dialogs[id]) {
            loadAndShowDialog(id, link, url);
        } else {
            dialogs[id].dialog('open');
        }

        // Prevent the normal behavior since we use a dialog
        if (e) e.preventDefault();
        return false;
    }

</script>  
<div id="tabs">
	<ul>
		<li><a href="@(Url.Action("Received"))">Messages Received</a></li>
		<li><a href="@(Url.Action("Sent"))">Messages Sent</a></li>
	</ul>
</div>
