@using MS.Katusha.Enumerations
@model MS.Katusha.Web.Models.MessagesModel
@{
    ViewBag.Title = "Messages";
    var linkReceived = "#Messages";
    var linkSent = "#Messages";
    if (Model.MessageType == MessageType.Received) {
        linkSent = Url.Action("Sent", "Messages", new {key = 1});
    } else {
        linkReceived = Url.Action("Received", "Messages", new {key = 1});
    }
}
<script>
    $(function () {
        var tabselected = @((Model.MessageType == MessageType.Received) ? 0 : 1); 
        $("#tabs")
            .tabs({
                selected: tabselected
            })
            .bind('tabsselect', function (event, ui) {
                if(ui.index != tabselected)
                    window.location = '@((Model.MessageType == MessageType.Received) ? linkSent : linkReceived)';
            });
    });

    function readM(guid, e) {
        $.post('/Messages/Read', { key: guid }).done(function (json) {
            json = json || {};
            $('#M' + guid).text(json.message).slideDown('slow');
            $('#showReply'+guid).slideDown('fast');
            if (ping) ping();
        });
        // Prevent the normal behavior since we use a dialog
        if (e) e.preventDefault();
        return false;
    }

    function sendMessage(obj, e) {
        var link = $(obj),
            url = link.attr('href'),
            id = url;
        $("#dialog_content").show();
        $("#dialog_message").hide();

        if (!dialogs[id]) {
            loadAndShowDialog(id, link, url);
        } else {
            dialogs[id].dialog('open');
        }

        // Prevent the normal behavior since we use a dialog
        if (e) e.preventDefault();
        return false;
    }

</script>  
<div id="tabs">
    <ul>
        <li><a href="#Messages">Messages Received</a></li>
        <li><a href="#Messages">Messages Sent</a></li>
    </ul>
    <div id="Messages">
        @Html.Partial("Messages", Model)
    </div>
</div>
