@using MS.Katusha.Enumerations
@model MS.Katusha.Web.Models.MessagesModel
@{
    ViewBag.Title = "Messages";
    var linkReceived = "#Messages";
    var linkSent = "#Messages";
    if (Model.MessageType == MessageType.Received) {
        linkSent = Url.Action("Sent", "Messages", new {key = 1});
    } else {
        linkReceived = Url.Action("Received", "Messages", new {key = 1});
    }
}
<script>
    $(function () {
        var tabselected = @((Model.MessageType == MessageType.Received) ? 0 : 1); 
        $("#tabs")
            .tabs({
                selected: tabselected
            })
            .bind('tabsselect', function (event, ui) {
                if(ui.index != tabselected)
                    window.location = '@((Model.MessageType == MessageType.Received) ? linkSent : linkReceived)';
            });
    });
</script>  
<div id="tabs">
    <ul>
        <li><a href="#Messages" class="mixpanel" mp-event="Click Messages Received" mp-data="{guid:profile.guid, name:profile.name}" >Messages Received</a></li>
        <li><a href="#Messages" class="mixpanel" mp-event="Click Messages Sent" mp-data="{guid:profile.guid, name:profile.name}" >Messages Sent</a></li>
    </ul>
    <div id="Messages">
        @Html.Partial("Messages", Model)
    </div>
</div>
