@using System.Configuration
@using MS.Katusha.Enumerations

@helper ExpressCheckoutButton(ProductNames productName) {
	var paypalPaymentTest = ConfigurationManager.AppSettings["PaypalSandbox"] == "true";
    <div style="text-align: center; width: 100%">
        <a href="/Payments/PaypalSetCheckout/@(productName.ToString())" style="background-color: #fff">
        @if (paypalPaymentTest) {
            <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
            <img alt="" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        } else {
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        }
        </a>
    </div>
}
