USE [MS.Katusha.Domain.KatushaContext]
GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 03/04/2012 13:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profiles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[MembershipType] [tinyint] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[Existance] [tinyint] NOT NULL,
	[From] [tinyint] NOT NULL,
	[City] [nvarchar](64) NULL,
	[BodyBuild] [tinyint] NOT NULL,
	[EyeColor] [tinyint] NOT NULL,
	[HairColor] [tinyint] NOT NULL,
	[Smokes] [tinyint] NOT NULL,
	[Alcohol] [tinyint] NOT NULL,
	[Religion] [tinyint] NOT NULL,
	[LastOnline] [datetime] NOT NULL,
	[Expires] [datetime] NOT NULL,
	[CreationTime] [datetime] NOT NULL,
	[Height] [int] NOT NULL,
	[BirthYear] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[UrlFriendlyId] [nvarchar](max) NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[ts] [timestamp] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[BreastSize] [tinyint] NULL,
	[DickSize] [tinyint] NULL,
	[DickThickness] [tinyint] NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Profiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 03/04/2012 13:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FromId] [bigint] NOT NULL,
	[ToId] [bigint] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[ts] [timestamp] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_Conversations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03/04/2012 13:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[UserName] [nvarchar](64) NOT NULL,
	[Email] [nvarchar](64) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Password] [nvarchar](14) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[ts] [timestamp] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SearchingFors]    Script Date: 03/04/2012 13:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchingFors](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL,
	[Search] [tinyint] NOT NULL,
	[ts] [timestamp] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_SearchingFors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photos]    Script Date: 03/04/2012 13:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photos](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[ts] [timestamp] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_Photos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LanguagesSpokens]    Script Date: 03/04/2012 13:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguagesSpokens](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL,
	[Language] [tinyint] NOT NULL,
	[ts] [timestamp] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_LanguagesSpokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CountriesToVisits]    Script Date: 03/04/2012 13:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountriesToVisits](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL,
	[Country] [tinyint] NOT NULL,
	[ts] [timestamp] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_CountriesToVisits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_CountriesToVisits_Profiles_ProfileId]    Script Date: 03/04/2012 13:01:49 ******/
ALTER TABLE [dbo].[CountriesToVisits]  WITH CHECK ADD  CONSTRAINT [FK_CountriesToVisits_Profiles_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CountriesToVisits] CHECK CONSTRAINT [FK_CountriesToVisits_Profiles_ProfileId]
GO
/****** Object:  ForeignKey [FK_LanguagesSpokens_Profiles_ProfileId]    Script Date: 03/04/2012 13:01:49 ******/
ALTER TABLE [dbo].[LanguagesSpokens]  WITH CHECK ADD  CONSTRAINT [FK_LanguagesSpokens_Profiles_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LanguagesSpokens] CHECK CONSTRAINT [FK_LanguagesSpokens_Profiles_ProfileId]
GO
/****** Object:  ForeignKey [FK_Photos_Profiles_ProfileId]    Script Date: 03/04/2012 13:01:49 ******/
ALTER TABLE [dbo].[Photos]  WITH CHECK ADD  CONSTRAINT [FK_Photos_Profiles_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Photos] CHECK CONSTRAINT [FK_Photos_Profiles_ProfileId]
GO
/****** Object:  ForeignKey [FK_SearchingFors_Profiles_ProfileId]    Script Date: 03/04/2012 13:01:49 ******/
ALTER TABLE [dbo].[SearchingFors]  WITH CHECK ADD  CONSTRAINT [FK_SearchingFors_Profiles_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SearchingFors] CHECK CONSTRAINT [FK_SearchingFors_Profiles_ProfileId]
GO
