<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MySQL" connectionString="Server=ubuntu.katusha.com;port=3306;Uid=root;Pwd=S506t819;Database=MSKatushaDomainDbContext;" providerName="MySql.Data.MySqlClient"/>
    <add name="__MySQL" connectionString="Server=ubuntu.katusha.com;port=3306;Uid=root;Pwd=S506t819;Database=test;" providerName="MySql.Data.MySqlClient"/>
    <add name="_MySQL" connectionString="Server=127.0.0.1;Uid=root;Pwd=12345;Database=test;" providerName="MySql.Data.MySqlClient"/>
    <add name="MS.Katusha.Domain.KatushaDbContext" connectionString="Data Source=localhost;Initial Catalog=MS.Katusha.Domain.DbContext;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="_MS.Katusha.Domain.KatushaDbContext" connectionString="Server=ubuntu.katusha.com;port=3306;Uid=root;Pwd=S506t819;Database=MSKatushaDomainDbContext;" providerName="MySql.Data.MySqlClient" />
    <add name="RavenDB" connectionString="Url=http://localhost:8080/" />
  </connectionStrings>
  <appSettings>
    <add key="VirtualPath" value="http://mskatusha.apphb.com/" />
    <add key="Photos_Folder" value="~/Photos/" />
    <!-- CacheProvider can be [Empty/Null/None] = No Cache, [Redis] (For Redis Caching mode REDISTOGO_URL must be set), [RavenDB] or [Memory] -->
    <add key="CacheProvider" value="Memory" />
    <add key="REDISTOGO_URL" value="ubuntu.katusha.com:6379" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Glimpse.RavenDb.DocumentStoreApplicationKey" value="MyDocStore" />
    <add key="Glimpse.RavenDb.HiddenFields" value="PasswordHash,PasswordSalt" />
    <add key="LOGENTRIES_ACCOUNT_KEY" value="" />
    <add key="LOGENTRIES_LOCATION" value="" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="SPREEDLYCORE_API_LOGIN" value="HwWmDwneBe1FqECe7grSEl9KuYu" />
    <add key="SPREEDLYCORE_API_SECRET" value="KfGyDrgWwPDa46EkAcOvjhrocqwkYtHSEYHwpUYK9J41HKPhifK2q24Qc48snoHU" />

    <add key="PaypalSandbox" value="true" />
    <!-- /overridden by AppHarbor -->

    <add key="PaypalAPIUsername" value="mertsakarya_api1.hotmail.com" />
    <add key="PaypalAPIPassword" value="G7CY554VR4NZC52P" />
    <add key="PaypalSignature" value="AFcWxV21C7fd0v3bYYYRCpSSRl31Aje.McNqe5-Um3Zu0Pn4AG2wuHL4" />
    <add key="PaypalEmail" value="mertsakarya@hotmail.com" />
    <add key="PaypalSandboxAPIUsername" value="merts_1344005613_biz_api1.hotmail.com" />
    <add key="PaypalSandboxAPIPassword" value="1344005650" />
    <add key="PaypalSandboxSignature" value="AZrqeOc2t4zr8s1lOprs6S3uEfafAXb4ORCF4aNZxz.pzwIWPoOQMTBv" />
    <add key="PaypalSandboxEmail" value="merts_1344005613_biz@hotmail.com" />
    <add key="PaypalProductName" value="Monthly Katusha Membership" />
    <add key="PaypalProductPrice" value="5.02" />

  </appSettings>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
