<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySQL" connectionString="Server=ubuntu.katusha.com;port=3306;Uid=root;Pwd=S506t819;Database=MSKatushaDomainDbContext;" providerName="MySql.Data.MySqlClient"/>
    <add name="__MySQL" connectionString="Server=ubuntu.katusha.com;port=3306;Uid=root;Pwd=S506t819;Database=test;" providerName="MySql.Data.MySqlClient"/>
    <add name="_MySQL" connectionString="Server=127.0.0.1;Uid=root;Pwd=12345;Database=test;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>